$colors: (
  brand:     #d8b222,
  highlight: #ffdc65,
  error:     #ff2744,
  success:   #299934,
  grey-10:   #eaeaea,
  grey-20:   #c0c0c0,
  grey-30:   #9f9f9f,
  grey-40:   #7f7f7f,
  grey-50:   #222,
  text:      #4a4a4a,
  black:     #1a1a1a,
  dark: #2b2b2b,
  white:     #fff,
  twitter: #4099ff,
  facebook: #3b5998,
  insta: #8a3ab9,
  yt: #b00
) !default;

$gradients: (
  default: (
    0%:   #f2f2f5,
    100%: #fff
  ),
  highlight: (
    0%:   #cdccd4,
    100%: #fff
  ),
  page: (
    0%:   #c9c7d1,
    6%:   #e5e5ea,
    20%:  #fefefe,
    80%:  #fefefe,
    94%:  #e5e5ea,
    100%: #c9c7d1
  ),
  page-small: (
    0%:   #f2f2f5,
    50%:  #fff,
    100%: #f2f2f5
  ),
  sky-1: (
    0%:   #0082dc,
    100%: #1ea0f5
  ),
  sky-account: (
    0%:   #135fa0,
    100%: #197bc9
  ),
  sky-atlantic: (
    0%:   #003c7d,
    100%: #005aaf
  ),
  sky-arts: (
    0%:   #fa0050,
    100%: #fa5569
  ),
  sky-box-sets: (
    0%:   #5b1139,
    100%: #7f0c2d
  ),
  sky-cinema: (
    0%:   #903,
    100%: #cb0033
  ),
  sky-kids: (
    0%:   #4b007e,
    100%: #652d9f
  ),
  sky-living: (
    0%:   #69879b,
    100%: #69a0b4
  ),
  sky-news: (
    0%:   #061b55,
    100%: #153073
  ),
  sky-sports: (
    0%:   #041456,
    100%: #132774
  ),
  sky-store: (
    0%:   #036,
    100%: #0e429e
  ),
  tile: (
    50%:  #fff,
    100%: #e6e6ea,
  )
) !default;

// Directional settings required for defining both prefixed and standard
// gradients in our `tools/gradients` mixins.
$gradient-directions: (
  vertical: (
    legacy: "top",
    standard: "to bottom",
    type: linear,
    reverse: false
  ),
  vertical-invert: (
    legacy: "bottom",
    standard: "to top",
    type: linear,
    reverse: false
  ),
  horizontal: (
    legacy: "left",
    standard: "to right",
    type: linear,
    reverse: false
  ),
  radial: (
    legacy: "center, ellipse cover",
    standard: "ellipse at center",
    type: radial,
    reverse: true
  )
);

.u-error {
  color: color(error);
}
