.c-chart {
  @include mq($until: medium) {
    padding-top: $global-spacing-unit-tiny;
  }

  .c-title-waves {
    path {
      fill: red !important; //  stylelint-disable-line declaration-no-important
    }
  }
}

@include mq($from: medium) {
  .c-chart__track-small {
    &:first-of-type, &:nth-of-type(2) {
      margin-bottom: $global-spacing-unit + 4px;
    }
  }
}

.c-chart-spacer {
  @include mq($from: medium) {
    margin-bottom: $global-spacing-unit;
  }
}

.c-chart__item {
  @include mq($until: medium) {
    margin-bottom: $global-spacing-unit;
  }
}
