.c-hero {
  padding-top: 0;
  position: relative;
  overflow: hidden;
  min-height: 440px;
  height: auto;
  z-index: 5;

  > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }
}

@include mq($until: medium) {
  .c-hero {
    min-height: auto;

    > video {
      display: none;
    }
  }

  .c-hero .o-container {
    padding: 0;
  }
}

@include mq($from: medium) {
  .c-hero .o-container {
    padding-top: $global-spacing-unit;
    padding-bottom: $global-spacing-unit;
  }
}
