.c-last-played {
  background-color: color(dark);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  height: 400px;

  > .c-last-played-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-last-played-container {
  width: 400px;
}

.c-last-played-track {
  position: relative;
  height: 75px;
  border-top: 2px solid color(text);
  animation: fade-in 500ms ease;

  &.c-last-played-track--main {
    height: 100px;
    border-top: none;
  }
}

.c-last-played-track-image {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;

  .c-last-played-track--main & {
    width: 100px;
    height: 100px;
  }

  .c-last-played-track--played & {
    width: 75px;
    height: 75px;
  }

  img {
    min-height: 101%;
    min-width: 101%;
    height: auto;
    width: auto;
  }
}

.c-track-info {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  padding-left: 75px + $global-spacing-unit-small;

  .c-last-played-track--main & {
    padding-left: 100px + $global-spacing-unit-small;
  }
}

.c-last-played-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@include mq($until: medium) {
  .c-last-played {
    height: auto;
  }

  .c-last-played-track--played {
    display: none;
  }

  .c-last-played {
    border-radius: 0;
  }

  .c-last-played-container {
    width: 100%;
  }

  .c-last-played-track.c-last-played-track--main {
    height: 116px;

    .c-last-played-track-image {
      width: 116px;
      height: 116px;
    }

    .c-track-info {
      padding-left: 116px + $global-spacing-unit-small;
    }
  }
}
