.c-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(color(dark), 0.9);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;

  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.c-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Raleway, Lato, Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 600px;
  padding: 0 $global-spacing-unit;
}

.c-modal__card {
  border-radius: 5px;
  background-color: color(text);
  padding: $global-spacing-unit;
  position: relative;
}
