$schedule-image-size: 160px;

.c-schedule-show {
  position: relative;
  min-height: $schedule-image-size + 3px;
  width: 100%;
  background-color: color(dark);
  border-bottom: 3px solid color(brand);
}

.c-schedule-show-fallback {
  background-image: url("https://media.radio.warwick.ac.uk/shows/default.thumb.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: $schedule-image-size;
  height: $schedule-image-size;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  float: left;
}

.c-schedule-show-image {
  min-width: 101%;
  min-height: 101%;
  height: 101%;
  width: auto;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.c-schedule-show-info {
  width: 100%;
  padding: $global-spacing-unit-small;
  padding-left: $schedule-image-size + $global-spacing-unit;
  max-height: $schedule-image-size;

  > .c-text-lead {
    color: color(brand);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.c-show-info-img {
  width: 50%;
  max-width: 250px;

  @include mq($until: medium) {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}

$presenter-img-size: 40px;

.c-presenter {
  width: 100%;
  height: $presenter-img-size;
  padding-left: $presenter-img-size;
  position: relative;
}

.c-presenter-image {
  width: $presenter-img-size;
  height: $presenter-img-size;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-presenter-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
