$spinner-size: 75px;

.c-spinner {
  width: $spinner-size;
  height: $spinner-size;
  overflow: hidden;
  color: color(white);
  border: 3px solid;
  border-color: transparent currentColor currentColor;
  border-radius: 100%;
  text-indent: 100%;
  animation: spin 1s infinite linear;
}
