.c-tabs {
  border-bottom: 5px solid color(brand);
  list-style: none;
  margin: 0;
}

.c-tabs__item-container {
  padding-left: 1px;
  display: inline-block;

  &:first-child {
    padding-left: 0;
  }
}

.c-tabs__item {
  cursor: pointer;
  padding: $global-spacing-unit-tiny $global-spacing-unit-small;
  background-color: color(dark);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    color: color(dark);
    background-color: color(brand);
  }
}
