@mixin ellipsis($num-lines: 1, $height: 1.4em) {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  font-size: 16px;
  line-height: 20px;

  /* autoprefixer: off */
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $num-lines;
  -webkit-box-orient: vertical;
  /* stylelint-enable */

  /* autoprefixer: on */
  max-height: $height;
}

.c-tile {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: color(white);
}

.c-tile__position {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 40px;
  font-weight: bold;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(color(black), 0.93);
}

.c-tile__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 101%;
  min-height: 101%;
  width: auto;
  height: auto;
}

.c-youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-tile--square {
  height: 0;
  padding-top: 100%;
  padding-bottom: 0;
}

.c-tile--video {
  height: 0;
  padding-top: 100% * 9 / 16;
  padding-bottom: 0;

  .c-tile-text {
    @include ellipsis($num-lines: 2, $height: 40px);
  }
}

.c-tile-chart__title {
  font-size: 16px;

  @include ellipsis($num-lines: 2, $height: 40px);
}

.c-ellipsis__two {
  @include ellipsis($num-lines: 2, $height: 40px);
}

.c-ellipsis__four {
  @include ellipsis($num-lines: 4, $height: 80px);
}

.c-tile-photo {
  background-color: color(dark);
  height: 80px;

  .c-tile-photo__text {
    color: color(white);

    @include ellipsis($num-lines: 3, $height: 60px);
  }
}

.c-tile--zoom {
  &:hover {
    .c-tile__image {
      min-width: 110%;
      min-height: 110%;
    }
  }

  .c-tile__image {
    transition: min-height 500ms ease, min-width 500ms ease;
  }
}

.c-tile__content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(color(black), 0.93);

  &:empty {
    padding: 0 !important;  //  stylelint-disable-line declaration-no-important
  }
}
