.c-title {
  background-color: color(dark);
}

.c-title-waves {
  height: 3.875rem;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 3em;

  svg {
    height: 100%;
    width: #{3.875 * 2}rem;
  }
}

.c-title-heading {
  vertical-align: middle;
  display: inline-block;
  font-family: Raleway, Lato, Helvetica, Arial, sans-serif;
}

.c-text-brand {
  color: color(brand);
}

.c-text-body-small {
  font-size: 16px;
}
