.hamburger {
  cursor: pointer;
  position: absolute;
  outline: none;
  left: $global-spacing-unit-small;
  top: 0;
  @include mq($from: medium) {
    display: none;
  }
  .line {
    width: 30px;
    height: 2px;
    background-color: color(brand);
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }
}

@include header-toggled() {
  .hamburger .line {
    &:first-of-type {
      transform: translateY(400%) rotate(45deg);
    }
    &:nth-of-type(2){
      transform: translateX(-100%);
      opacity: 0;
    }
    &:last-of-type {
      transform: translateY(-400%) rotate(-45deg);
    }
  }
}
