//  TODO: Body Lock functionality

.u-body-lock {
  @include mq($until: medium) {
    position: fixed !important;
    padding-top: $nav-logo-height + $global-spacing-unit !important;
    width: 100vw;
  }
}

@mixin header-toggled() {
  .c-header.is-open {
    @content;
  }
}

.c-header {
  background-color: color(dark);
  padding: $global-spacing-unit-small 0;
  width: 100%;
  z-index: 10;
  > .o-container {
    position: relative;
  }
}

.c-header-logo {
  text-align: center;
  height: $nav-logo-height;
  width: 20px;
  overflow: hidden;
  svg {
    width: 70px;
  }
  @include mq($from: medium) {
    display: inline-block;
    vertical-align: middle;
  }
}

.c-player-container {
  vertical-align: middle;
}

.c-nav-primary {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  > ul {
    margin: 0;
  }
}

.c-nav-links {
  font-size: 1.5em;
}

.c-nav-link {
  display: table;
  width: auto;
  margin: $global-spacing-unit-small auto;

  > a {
    color: color(brand);
  }
}

.social_icon {
  display: inline-block;
  width: $global-spacing-unit * 1.5;
  height: $global-spacing-unit * 1.5;
  overflow: hidden;
  background-color: color(grey-40);
  border-radius: $global-spacing-unit-tiny;
  vertical-align: middle;
  margin-left: $global-spacing-unit-tiny;
  text-indent: -9999px;                 /* sends the text off-screen */
  white-space: nowrap;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  a {
    color: rgba(#ffffff, 0);
    display: block;
    width: 100%;
    height: 100%;
  }
}

.c-nav-secondary {
  text-align: center;
  > a {
    color: color(brand);
  }
}

@include mq($from: medium) {
  .c-header .c-divider {
    display: none;
  }

  .c-nav-links {
    font-size: 1em;
  }

  .c-nav-link {
    display: inline-block;
    margin-left: $global-spacing-unit;
  }

  .c-nav-secondary {
    position: absolute;
    right: $global-spacing-unit;
    top: 0;
  }
}

@include mq($until: medium) {
  .c-header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .c-header-logo {
    width: 100%;
  }
  .c-nav-primary {
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: $nav-logo-height + $global-spacing-unit;
    width: 100%;
    background-color: color(dark);
    transition: height 0.5s ease;
  }

  @include header-toggled() {
    .c-nav-primary {
      height: 100vh;
    }
  }
}
