html {
  color: color(white);
  background-image: none;
  background-color: rgba(color(dark), 0.9);
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 82px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

textarea {
  resize: none;
  overflow: scroll;
  height: 5em;
}

.u-body-lock {
  position: fixed;
  height: 100%;
  width: 100%;
}

@include mq($until: medium) {
  body {
    padding-top: $nav-logo-height + $global-spacing-unit;
  }
}

.u-float-left {
  float: left;
}

.u-brand-color {
  color: color(brand);
}

@import "animation";
